{{#partial "content"}}
<div class="team">
<h1 style="margin-top:120px;">ORGANISATIONAL API</h1>
<p>This application allows user to input records <br>of news department and employees</p>
</div>
{{/partial}}

{{>layout.hbs}}